<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XMLToDataClass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <XMLToDataClass.Properties.Settings>
            <setting name="XMLFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Namespace" serializeAs="String">
                <value>XMLToDataClass</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Project" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="Solution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SolutionName" serializeAs="String">
                <value />
            </setting>
            <setting name="CSCodeGenCompanyName" serializeAs="String">
                <value>&lt;company_name&gt;</value>
            </setting>
            <setting name="CSCodeGenDeveloper" serializeAs="String">
                <value>&lt;developer&gt;</value>
            </setting>
            <setting name="CSCodeGenFlowerBoxCharacter" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="CSCodeGenUseTabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CSCodeGenNumCharsPerLine" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="CSCodeGenIndentSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CSCodeGenFileHeaderTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="CSCodeGenCopyrightTemplate" serializeAs="String">
                <value>Copyright © &lt;%developer%&gt; &lt;%year%&gt;</value>
            </setting>
            <setting name="CSCodeGenLicenseTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="CSCodeGenIncludeSubHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="FileExtensionAddition" serializeAs="String">
                <value />
            </setting>
        </XMLToDataClass.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
